.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f8f8;
  &.dark {
    background-color: #333;
    color: #fff;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .logo-container {
    .logo {
      width: 150px;
    }
  }
  .right-section {
    display: flex;
    align-items: center;
  }
  .navigation {
    ul {
      display: flex;
      gap: 20px;
      margin: 0;
      li {
        list-style-type: none;
        a {
          text-decoration: none;
          color: inherit;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .profile-and-theme {
    display: flex;
    gap: 20px;
    margin-left: 20px;
    align-items: center;
    .profile-icon {
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
