.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f8f8;
  &.dark {
    background-color: #333;
    color: #fff;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .logo-container {
    .logo {
      width: 150px;
    }
  }
  .right-section {
    display: flex;
    align-items: center;
  }
  .navigation {
    ul {
      display: flex;
      gap: 20px;
      margin: 0;
      li {
        list-style-type: none;
        a {
          text-decoration: none;
          color: inherit;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .profile-and-theme {
    display: flex;
    gap: 20px;
    margin-left: 20px;
    align-items: center;
    .profile-icon {
      cursor: pointer;
      width: 48px;
      height: 48px;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .favorite-button {
    margin-right: 20px;
  }

  .location-search {
    input {
      padding: 8px 16px;
      border-radius: 4px;
      border: none;
      width: 200px;
      height: 40px;
      margin-right: 10px;

      .dark-mode & {
        background-color: #333;
        color: #fff;
      }

      .light-mode & {
        background-color: #fff;
        color: #000;
        border-color: #ccc;
      }

      &::placeholder {
        color: rgba(0, 0, 0, 0.5);

        .dark-mode & {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}
