body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border-radius {
  border-radius: 16px;
}

.dark-mode {
  color: #fff;
}

.dark-mode a {
  color: #fff;
}

.light-mode {
  color: #000;
}

.light-mode a {
  color: #000;
}

.dark-mode .glassbackground {
  background-color: rgba(0, 0, 0, 0.5);
}

.light-mode .glassbackground {
  background-color: rgba(255, 255, 255, 0.5);
}

.centerX {
  transform: translate(50%, 0);
}

.centerY {
  transform: translate(0, 50%);
}

.center {
  transform: translate(50%, 50%);
}

.dark-mode .text-theme {
  color: #fff;
}

.dark-mode .text-theme-inverted {
  color: #000;
}

.light-mode .text-theme {
  color: #000;
}

.light-mode .text-theme-inverted {
  color: #fff;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}